{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4">My Orders</h2>

    {% if orders %}
    <div class="shadow-sm bg-white">
        <table class="table table-bordered table-striped rounded-3 shadow-sm">
            <thead class="table-light">
                <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                <tr>
                    <td>
                        <a href="{% url 'order_confirmation' order.id %}">
                            {{ order.id }}
                        </a>
                    </td>

                    <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>

                    <td>{{ order.total }} RWF</td>

                    <td>
                        {% if order.status == "pending" %}
                            <span class="badge bg-warning">Pending</span>
                        {% elif order.status == "delivered" %}
                            <span class="badge bg-success">Completed</span>
                        {% else %}
                            <span class="badge bg-secondary">{{ order.status }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-muted">You have no orders yet.</p>
    {% endif %}

    <a href="{% url 'products_list' %}" class="btn btn-primary mt-3">
        Continue Shopping
    </a>

</div>
{% endblock %}
